@import "./base/reset";

@font-face {
    font-family: 'proxima_nova_reg';
    src: url('https://litmus.com/fonts/Emails/proximanova-regular-webfont.eot');
    src: url('https://litmus.com/fonts/Emails/proximanova-regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('https://litmus.com/fonts/Emails/proximanova-regular-webfont.woff') format('woff'),
        url('https://litmus.com/fonts/Emails/proximanova-regular-webfont.ttf') format('truetype'),
        url('https://litmus.com/fonts/Emails/proximanova-regular-webfont.svg#proxima_nova') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'proxima_nova_bold';
    src: url('https://litmus.com/fonts/Emails/proximanova-bold-webfont.eot');
    src: url('https://litmus.com/fonts/Emails/proximanova-bold-webfont.eot?#iefix') format('embedded-opentype'),
        url('https://litmus.com/fonts/Emails/proximanova-bold-webfont.woff') format('woff'),
        url('https://litmus.com/fonts/Emails/proximanova-bold-webfont.ttf') format('truetype'),
        url('https://litmus.com/fonts/Emails/proximanova-bold-webfont.svg#proxima_nova') format('svg');
    font-weight: normal;
    font-style: normal;
}

@import "./module/first";
@import "./module/second";
@import "./module/third";
@import "./module/fourth";
// #first{
//     background-color: #232526;
//     position: relative;
// }
// .container {
//     display: flex;
//     justify-content: space-between;

//     img {

//         transform: rotate(-35deg);
//         height: 121px;
//         width: 121px;
//     }

//     li {
//         list-style: none;
//         color: white;
//         text-align: right;
//         padding: 10px;
//         font-size: 1rem +.25rem;
//         font-weight: bold;
//         font-family: proxima_nova_reg;
//     }

//     .li-fifth{
//         color: orangered;
//     }
// }

// .header{
//     font-size: 3rem + 2rem;
//     color: white;
//     font-family: 'bebas neue';
//     margin-left: 30px;
//     .txt-two{
//         position: relative;
//         top: -120px;
//     }

   
// }

// .img-two img{
//     position: relative;
//     top:-486px;
//     left: 233px;
//     height: 50px;
//     width: 50px;
//     line-height: 10px;
// }
// .sub>p{
//     position: relative;
//     top: -88px;
//     color: white;
//     padding: 5px;
//     text-align: left;
//     font-family: proxima_nova_reg;
// }

// .para{
//     margin-bottom: 15px;
// }


// .img-3{
//     position: absolute;
//     top: 786px;
//     left: 150px;
// }
// .line{
//     padding-top:70px;
// }

// .round{
//     height: 100px;
//     width: 100px;
//     background-color: #faaf41;
//     border-radius: 100%;
// }

// #second{
//     // background-color: #EBF0F0;
//     background-color: orange;
//     // height: 1000px;
//     color:black;
// }

// .sec-content{
//     position: absolute;
//     top: 902px;
//     left: 29px;
//     h4{
//         padding-bottom: 25px;
//     }
//     h1{
//         width: 340px ;
//         height: 159px;
//         color:#0A0A0A;
//         border: #707070 1pt;
//         font-size: 26px;
//         opacity: 100%;
//     }
//     span{
//         // color: #0A0A0A00;
//         // opacity: 30%;
//         -webkit-text-fill-color: transparent;
//   -webkit-text-stroke: 1px;
//     }

//     p{
//         margin-right: 5px;
//         padding-bottom: 44px;
//         padding-top: 26px;
//         font-family: proxima_nova_reg;
//     }

//     h3{
//         font-family: proxima_nova_reg;
//     }

//     .row-1{
//         width: 58px;
//         position: relative;
//         left: 155px;
//         top: -12px;
//         color: red;
//     }

//     img{
//         height: 100px;
//         width: 100px;
//         position: relative;
//         left: 220px;
//         margin-bottom: 40px;
//     }

//     .sub{
//         height: 100px;
//         width: 100px;
//         border-radius: 6rem 7rem 7rem 6rem;;
//         background-color: #DF4E31;
//         position: relative;
//         top: 50px;
//         left: -29px;
//     }   

//     .third-content{
//         position: absolute;
//         top: 609px;
//         left: 4px;

//         h1{
//             font-size: 2rem;
//             font-family:proxima_nova_bold;
//         }
//         h4{
//             font-family: proxima_nova_bold;
//         }
//     }

 

// .box{
//     display: flex;
//     flex-direction: column;

// }
// }

// third page design section

// #section-2{
//     background-color:#EBF0F0;
//     padding-top: 100px;

//     .sub-circle{
//         height: 100px;
//         width: 100px;
//         background-color: #FAAF41;
//         border-radius: 7rem 9rem 9rem 7rem;
//     }

//     .content{
//         position: relative;
//         top: -80px;
//         left: 24px;
//         width: 332px;
       
//     }

//     h4{
//         margin-bottom: 17px;
//     }

//     .head{
//         font-size: 36px;
//         font-family: proxima_nova_bold;
//         font-weight: 700;
//         margin-bottom: 50px;
//     }

//     span{
//         -webkit-text-fill-color: transparent;
//         -webkit-text-stroke: 1px;
//     }

//     p{
//         font-family: proxima_nova_reg;
//         margin-bottom: 70px;
//     }

//     .row{
//         position: relative;
//         top: -28px;
//         left: 160px;
//         width: 60px;
//     }
//     img{
//         position: relative;
//         left: 200px;
//         top: -55px;
//     }
// }
// hr{
//     position: relative;
//     top: -30px;
// }
// section third designing part
// #third{
//     margin-bottom: 10px;
//     background-color:#EBF0F0;

//     .third-head{
//         font-size: 36px;
//         font-family: proxima_nova_bold;
//         font-weight: 700;
//     }
//     .circle{
//         height: 100px;
//         width: 100px;
//         background-color: #DF4E31;
//         border-radius: 7rem 9rem 9rem 7rem;
//     }

//     .third-content{
//         position: relative;
//         top: -76px;
//         left: -1px;
//         margin-left: 21px;

//     }

//     .row{
//         display: flex;

//         .col{
//             position: relative;
//             width: 50%;
//             height: 16.8rem;
//             border: 1px solid rgb(180, 178, 178);
//             padding: 3rem 2rem;
//         }
//         .linear-box-with-line{
//                 position: absolute;
//                 width: 1.5rem;
//                 height: 1.5rem;
//                 top: 5.5rem;
//                 background: rgb(55,135,200);
//                 background: linear-gradient(120deg, rgba(55,135,200,1) 0%, rgba(225,75,50,1) 100%);
//             }
//             .linear-box-with-line::after{
//                 position: absolute;
//                 content: "";
//                 height: 60%;
//                 border-left: 1px solid #fff;
//                 top: 50%;
//                 left: 50%;
//                 transform: translate(-50%, -50%) rotate(135deg);
//             }

//             h2{
//                 font-family: proxima_nova_reg;
//                 position: absolute;
//                 top: 140px;
//             }
//             span{
//                 color: rgb(192, 187, 187);
//                 text-decoration: underline;
//             }
//     }    
  
// }
        


// designing of fourth section

// #fourth{
//     margin-top: 60px;
    
//      .numbers{
//         margin-left: 104px;
//      }
//     .head{
//      font-size: 100px;
//     //  font-style: ;
//     font-family: Bebas Neue;
//     }
//     h2{
//         padding-bottom: 100px;
//         font-family: proxima_nova_reg;
//          width: 200px;
//     }

//     .circle-fourth{
//         height: 60px;
//         width: 60px;
//         background-color: #3787C8;
//         border-radius: 100%;
//         position: relative;
//         left: -68px;
//         bottom: 52px;
//     }

//     .square{
//         height: 60px;
//         width: 60px;
//         border: 100%;
//         background-color: #DF4E31;
//         position: relative;
//         top: -38px;
//         left: 150px;
//     }
//     hr{
//         width: 20%;
//         rotate: -45deg;
//         position: relative;
//         top: -182px;
//         color: white;
//         left: 150px;
//       }
//     }
//  end of fourth section design


// designing of fifth section

// #fifth{
//     background-color: #EBF0F0;
//     .fifth-circle{
//         height: 100px;
//         width: 100px;
//         border-radius: 100%;
//         background-color: #DF4E31;
//     }

//     // .display{
//     //     // display: flex;
//     //     // flex-direction: column;
//     //     // flex: 3;
//     // }
// }




@media screen and (min-width:900px){
    
    #first{
    background-color: #232526;
    position: relative;
}
.nav > ul{
    display: flex;
    padding: 5px;
    font-size: 3rem;
}
.container {
    display: flex;
    justify-content: space-between;

    img {

        margin-left: 10px;
        transform: rotate(-35deg);
        height: 121px;
        width: 121px;
    }

    li {
        // list-style: none;
        // color: white;
        // text-align: right;
        // padding: 10px;
        // font-size: 1.5rem;
        // font-weight: bold;
        // font-family: proxima_nova_reg;
        list-style: none;
color: white;
text-align: right;
padding: 8px;
font-size: 22px;
font-weight: bold;
font-family: proxima_nova_reg;
    }

    .li-fifth{
        color: orangered;
    }
}

.header{
    font-size: 3rem + 2rem;
    color: white;
    font-family: 'bebas neue';
    margin-left: 30px;
    .txt-two{
        position: absolute;
        top: 123px;
        left: 182px;
    }

   
}

.img-two img{
    // position: relative;
    // top:-486px;
    // left: 233px;
    // height: 50px;
    // width: 50px;
    position: absolute;
    top: 166px;
    left: 740px;
    height: 50px;
    width: 45px;
    line-height: 10px;
    
}


.para{
    margin-bottom: 15px;
}

.blue{
    height: 30px;
                width: 18px;
                border-radius: 1rem 0rem 0rem 1rem;
                background-color: rgb(19, 136, 172);
                position: absolute;
                top: 234px;
                left: 893px;
                visibility: hidden;
}       

.img-3{
    position: absolute;
    top: 436px;
    left: 150px;
}
.line{
    padding-top:70px;
}

.round{
    height: 100px;
    width: 100px;
    background-color: #faaf41;
    border-radius: 100%;
}
.p{
    position: relative;
    top: -88px;
    color: white;
    padding: 5px;
    text-align: left;
    font-family: proxima_nova_reg;
    margin-left: 10px;
}
    
}
